# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        include:
          # Linux
          - goos: linux
            goarch: amd64
            output: droid-linux-amd64
            
          # Windows
          - goos: windows
            goarch: amd64
            output: droid-windows-amd64.exe
            
          # MacOS
          - goos: darwin
            goarch: amd64
            output: droid-darwin-amd64
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.5'

    - name: Build Binary
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        # Ensure build time metadata is correct
        CGO_ENABLED: 0
      run: |
        mkdir -p dist
        go build -v -o dist/${{ matrix.output }} .

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.output }}
        path: dist/${{ matrix.output }}
